@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.real-body {
  margin: 0 120px;
}

.navbar {
  font-family: "Inter", sans-serif;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.home {
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 77px;
  padding: 20px;
}

.showroom-store-about-contact:hover {
  transition: all 0.3s ease-in-out;
  text-align: center;
  background: #575e79;
  color: #ffffff;
  height: 100%;
  padding: 15px;
}

.showroom-store-about-contact {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #000000;
}

.bx {
  font-size: 19px;
  font-weight: 600;
}

.logo {
  margin-right: 200px;
}

.second-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.first-image {
  object-fit: cover;
  width: 400px;
}

.text-and-btn {
  width: 50%;
}

.minimal-text {
  font-family: "Inter", sans-serif;
  flex-direction: row;
  font-weight: 700;
  font-size: 44px;
  color: #000000;
  line-height: 53px;
  margin-bottom: 40px;
}

.find-the-best-text {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  flex-direction: row;
  color: #000000;
  margin-bottom: 45px;
}

.explore {
  padding: 17px 44px;
  background: #575e79;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.browse-heading {
  margin-top: 150px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.third-part {
  display: flex;
  gap: 15px;
}

.third-part-images {
  width: 100%;
  height: 513px;
}

.made-with-text {
  font-family: "Inter", sans-serif;
  flex-direction: row;
  font-weight: 700;
  font-size: 43px;
  color: #000000;
  margin: 91px 0 17px 0;
}

.our-swinging-text {
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 40px;
  line-height: 23px;
}

.shop-now {
  margin-bottom: 50px;
  padding: 18px 22px;
  background: #575e79;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
}

.first-cushion {
  height: 680px;
  background: #d2ceca;
}

#second-cushion {
  margin-top: 250px;
  background: #3e8c9d;
}

#third-cushion {
  margin-top: 80px;
  background: #e19b35;
}

.cushioned-hammock-text {
  margin: 15px 0 0 37px;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  margin: 5px 72px 21px 37px;
  padding: 10px 23px 10px 10px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.bx {
  margin-left: 10px;
  font-size: 22px;
}

.cushioned-hammock {
  margin-top: 91px;
}

.browse-categories {
  text-align: center;
  margin: 76px 0 20px 0;
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.browsing-images {
  width: 387px;
  height: 270px;
  border: 1px solid #000000;
  border-radius: 30px;
}

.browsing-details {
  position: relative;
}

.browse-category-bk-image {
  width: 100%;
  height: 100%;
}

.latest-images {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.browsing-btn {
  background: rgba(255, 255, 255, 0.74);
  padding: 16px 43px;
  border: 1px solid #000000;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 17.1404px;
  color: #000000;
  text-align: center;
}

.btn-and-image {
  position: relative;
  margin: 10px;
}

.button-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-in-the-showroom-heading {
  margin: 125px 0 26px 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #000000;
}

.showroom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showroom-images {
  margin: 11px 0 13px 0;
  width: 100%;
}

.showroom-details-and-images {
  display: flex;
  background: #fb8391;
  width: 391.49px;
  height: 200px;
  margin: 0 13px 15px 0;
}

.image-title {
  margin: 40px 2px 0 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}

.image-info {
  margin: 7px 72px 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.showroom-btn {
  margin: 7px 67px 0 30px;
  padding: 6px 18px;
  width: 119px;
  height: 33px;
  font-weight: 700;
  font-size: 15px;
  background: #000000;
  color: #ffffff;
}

#title-edit {
  font-size: 24px;
}

#info-edit {
  font-size: 11px;
}

#wooden-vase {
  background: #b07e4b;
}

#hoop-chair {
  background: #585856;
}

#stools {
  background: #dcc9b8;
}

#office-chair {
  background: #c4c4c4;
}

#bench-chair {
  background: #6c6567;
}

.customer-review {
  /* margin-top: 100px; */
  display: flex;
  width: 100%;
  align-items: center;
  padding: 70px;
}

.images-boxes {
  flex: 1;
  display: flex;
  gap: 50px;
}

.review-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 100px;
  background: rgba(87, 94, 121, 0.24);
  width: 768px;
  height: 518px;
  margin-left: -100px;
}

.review-text-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.boxes {
  position: relative;
  width: 292px;
  height: 403px;
}

.review-bg {
  width: 100%;
}

.customer-box {
  position: absolute;
  bottom: 0;
  right: -35px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 1.80731px 1.80731px 3.01219px rgba(0, 0, 0, 0.25);
  border-radius: 18.0731px;
}

.top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.customer-name {
  font-weight: 700;
}

.r-title {
  font-size: 38px;
  font-weight: 700;
}

.left-reviews {
  font-size: 19px;
}

.r-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.blog-posts-and-view-all {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}

.blog-post-text {
  font-family: poppins;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.view-all-text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  color: #031c54;
}

.post-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.how-to-construct-text {
  margin-top: 19px;
  font-family: poppins;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  line-height: 52px;
}

.learn-in-3-text {
  font-family: poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  color: #000000;
  gap: 30px;
}

.how-to-texts {
  margin: 0 80px 20px 80px;
}

.need-to-come-container {
  background: #d7d8df;
  padding: 30px;
}

.need-to-come-text {
  font-weight: 600;
  font-size: 50px;
  line-height: 73px;
  color: #000000;
  text-align: center;
}

.map-img {
  width: 100%;
}

.map-img-div {
  position: relative;
}

.find-our-stores-container {
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: 460px;
  width: 412px;
  height: 324px;
}

.find-our-stores-text {
  font-size: 50px;
  font-weight: 600;
}
